# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/dentify"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Admin seed credentials
ADMIN_EMAIL="admin@dentify.com"
ADMIN_PASSWORD="Admin@1234"
